<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">  
    <link rel="stylesheet" href="css/category.css">
    <title>select your category</title>
</head>


<body bgcolor="black">
    <button class="button1"><a href="/homepage"><i class="fa-solid fa-circle-arrow-left"></i></a></button>
<div class="category"></div>
<div class="selectcategory">Select Your Category</div>
<div class="line">_______________________</div>
<div class="car">
<p>Luxury&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sedan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUV
</div>
<div>
    <a class="sedan" href="/pageproject"><img src="Images/verna.png" width="340px" height="240px" class="verna"></a>
</div>
<div>
    <a class="suv" href="/pageproject1"><img src="Images/toyotaaa.png" width="400px" height="250px" class="fortuner"></a>
</div>
<div>
    <a class="luxury" href="/pageproject2"><img src="Images/bmww.png" width="300px" height="200px" class="bmw"></a>
</div>
<!-- <div class="suv"></div>
<div class="luxury"></div>
<!-- <div class="verna"></div> -->
<!-- <div class="fortuner" href=""><img src="toyotaaa.png" width="400px" height="250px"></div>
<div class="bmw" href><img src="bmww.png" width="310px" height="200px"></div> --> -->
</body>
</html>