<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resturent</title>
    <link rel="stylesheet" href="css/homework.css">
   
   

</head>
<body>
    {{>nav}}
  

    <section id="home">
        <div id="semicircle">
            <div class="slider">

            </div>

        </div>
        <div id="circle"> 

            <div  id="images" class="img1"><img src="Images/m1.png" alt=""  ></div>
            <div id="images" class="img2"><img src="Images/m2.png" alt=""></div>
            <div id="images" class="img3"><img src="Images/m3.png" alt=""></div>
            <div id="images" class="img4"><img src="Images/m4.png" alt=""></div>
            <div id="images" class="img5"><img src="Images/m5.png" alt=""></div>
            <div id="images" class="img6"><img src="Images/m6.png" alt=""></div>
            <div id="images" class="img7"> <img src="Images/m8.png" alt=""></div>
            <div id="images" class="img8"><img src="Images/m7.png" alt=""></div>
            <div id="images" class="img9"><img src="Images/m9.png" alt=""></div>

           
            
     
            
        </div>  
        <br>
        <br>
        <br>
         
        <div id="content">
            
            <span>Time To Enjoy!</span>
            <p> We prepare some of the tasty dishes so that everyone can quench on them.Nothing brings people like food
                
            </p>
            
        </div> 

        <button id="Order" class="button"><a href="#">Order Now</a></button>
        <button id="BookTable" class="button"><a href="#">Book Table</a></button>
        
     </section>

     <section class="dishes">
        <br>
        <br>
        <h1>—Offer's Zone—</h1>
        <div class="boxes">

            <div class="box1" >
                <img src="Images/p4.avif" alt="">
                <p class="cr"> Burger</p>
                <p class="cr" id="rr">$65</p>
                <h3 class="cr">$50</h3>
            </div>
            <div class="box1">
                <img src="Images/p2.avif" alt="">
                <p class="cr"> Pizza</p>
                <p class="cr" id="rr">$125</p>
                <h3 class="cr">$100</h3>
            </div>
            <div class="box1">
                <img src="Images/p3.jpg" alt="">
                <p class="cr"> Shake</p>
                <p class="cr" id="rr">$65</p>
                <h3 class="cr">$50</h3>
                
            </div>

            
        </div>
       
       
     </section>

     <section class="location">
        <p>Location</p>
        
        <div class="loc">
            <div class="box"><img src="Images/char.png" alt=""><p>hyderabad</p></div>
          <div class="box1"> <img src="Images/rome.png" alt=""><p>Paris</p></div>
         <div class="box5"><img src="Images/newyork.png" alt=""><p>Newyork</p></div>
         <div class="box"><img src="Images/guj.png" alt=""><p>Gujrat</p></div>
         


        </div>

     </section>


    <div class="customer">
        <p>— Customers Review —</p>
        <div class="main">
            <div class="schoolslides">
                <div class="law"> 
                    <p > <img src="Images/person.png" alt=""></p>
                    <h6>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.a formal assessment of something with the intention of instituting change if necessary. 
                      </h6>
                    
                
                </div>
                
                <div class="law">  <p > <img src="Images/person.png" alt=""></p>
                
                  <h6>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.a formal assessment of something with the intention of instituting change if necessary.

                  </h6>
                
                
                </div>
                <div class="law">  <p > <img src="Images/person.png" alt=""></p></div>
               <div class="law">  <p > <img src="Images/person.png" alt=""></p></div>
        
            </div>
        
        </div>

        
    </div>
    
    <div class="end">
        
    </div>

    

    
       
  

       

    
    
    
    
</body>
</html>