<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/homework.css">
    <title>Document</title>
 
</head>
<body>
    <headrer>
        <div class="logo"><img src="Images/image 1.png" width="70" height="70" ></div>
            <nav>
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#Services">Services</a></li>
                <li><a href="#About">About</a></li> 
                <li><a href="#contact">&nbsp;&nbsp;Contact</a></li>
                <a class="SignIn" href="/LOGIN"><i class="fa-solid fa-right-to-bracket"></i> Login / Signup</a>
            </ul>
        </nav>
        </headrer>
     
        <div class="whenever">
            Wherever Whenever
        </div>
        <div class="lets">
        let’s go together
      </div>
      <div>
        <li><a class="getstarted" href="/category">Get Started</a></li>
        </div>
</head>
<body bgcolor="black">
    <div class="container">
        <img src="Images/benzhe.jpg" width="1250" height="650">
    </div class="benzhe">
    <div id="Services" class="dum" >
        dummy
    </div>
   
    <div class="y">
        Why Choose RENT N GO ?
        </div>  
        <div class="three1">
            <img src="Images/speed.png" width="95" height="95">
        </div>
    <div  class="speed">
        Fast &  Easy Booking
    </div>
    <div class="fast">
    Book your car online. Follow the easy process to book your car online. Or just call us anytime from anywhere
    </div>
        <div class="three2">
            <img src="Images/pickup.png" width="95" hieght="95">
        </div>
        <div class="pickup">
            Many Pickup Location
        </div>
        <div class="location">
            We have an extensive number of cars that will be available to pick up from any location throughout the city.
        </div>
        <div class="three3">
            <img src="Images/customers.png" width="95" hieght="95">
        </div> 
        <div class="customers">
            Satisifed Customers
        </div>  
        <div class="satisfied">
            We have many happy customers and <br> it’s increasing.
        </div>
        <div class="redcar">
            <img src="Images/audi.jpg" width="1250px" height="700px">
            </div>
        <div id="About"class="about">
            <p >About Us</p>
            </div>
            <div class="line">
            <p>__________</p>
            </div>
            <div class="aboutus">
            <p> Rent-N-Go is an ongoing success start-up. Our guiding principles, and humble beginning, revolve around personal honesty and integrity. We believe in strengthening our communities, serving our customers as our family, and rewarding hard work. Self-drive cars from Zoomcar have given customers more control, privacy, and freedom.Our aim is to fulill the dream of people who want to drive luxurious cars.</p>
            </div>
        <div id="contact" class="wave"> 
            <img src="Images/wave 2.png" width="1255" hieght="100> 
        </div class = "wave"> 
            </div> 
        
</body>
</html>