<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="css/pageproject.css">
</head>


<body bgcolor="black">
    
    <div class="div1">
        <a href="/category"><button class="button1"><i class="fa-solid fa-circle-arrow-left"></i></button></a>
        <div class="head">SEDAN CARS</div>
        <div class="swift">
            <img src="Images/Swift.png" alt="" srcset="" style="width: 450px;height: 300px;">
        </div>
        <div class="verna">
            <img src="Images/verna.png" alt="" srcset="" style="width: 450px;height:300px;">
        </div>
        <div class="image1">
            <img src="Images/seat (1).png" alt="" srcset="" style="width:30px; height: 30px;">
        </div>
        <div class="image2">
            <img src="Images/fuel (1).png" alt="" srcset="" style="width:30px; height: 30px;">
        </div>
        <div class="image3">
            <img src="Images/manual-transmission.png" alt="" srcset="" style="width:30px; height: 30px;">
        </div>
        <div class="image4">
            <img src="Images/car.png" alt="" srcset="" style="width:30px; height: 30px;">
        </div>
        <div class="image5">
            <img src="Images/car (1).png" alt="" srcset="" style="width:30px; height: 30px;">
        </div>
        <div class="image6">
            <img src="Images/fuel.png" alt="" srcset="" style="width:30px; height: 30px;">
        </div>
        <div class="image7">
            <img src="Images/seat (1).png" alt="" srcset="" style="width:30px; height: 30px;">
        </div>
        <div class="image8">
            <img src="Images/fuel (1).png" alt="" srcset="" style="width:30px; height: 30px;">
        </div>
        <div class="image9">
            <img src="Images/manual-transmission.png" alt="" srcset="" style="width:30px; height: 30px;">
        </div>
        <div class="image10">
            <img src="Images/car.png" alt="" srcset="" style="width:30px; height: 30px;">
        </div>
        <div class="image11">
            <img src="Images/car (1).png" alt="" srcset="" style="width:30px; height: 30px;">
        </div>
        <div class="image12">
            <img src="Images/fuel.png" alt="" srcset="" style="width:30px; height: 30px;">
        </div>
        <!-- <div class="line1">__________________</div>
        <div class="line2">__________________</div> -->
        <div class="image13">
            <img src="Images/price-tag.png" alt="" srcset="" style="width: 15px; height: 15px;">
        </div>
        <div class="image14"> 
            <img src="Images/price-tag.png" alt="" srcset="" style="width: 15px; height: 15px;">
        </div>
        
        
        <p>Price Rs.1599/day</p>
        <p6>Price Rs.1699/day</p6>
        <!-- <p1><b>Specifications</b></p1> -->
        <!-- <p4><b>Specifications</b></p4> -->
        <p2> <br>5 Seater<br>
            <br>Fuel Type: Petrol<br>
            <br>Transmission: Manual/Automatic<br>
            <br>Mileage: 21-24Km/L<br>
            <br>Engine: 1197cc<br>
            <br>Fuel Capacity: 37L<br> 
        </p2>
         <a href="/bookswift"> <button class="button2" >Book Now</button></a>
         <a href="/bookverna"> <button class="button3" >Book Now</button></a>
        <p5> <br>5 Seater<br>
            <br>Fuel Type: Petrol<br>
            <br>Transmission: Manual/Automatic<br>
            <br>Mileage: 22-25Km/L<br>
            <br>Engine: 1497cc<br>
            <br>Fuel Capacity: 45L<br>
        </p5>
        <p3>Hyundai Verna</p3>
    </div>
    <h1>Maruti suzuki</h1>
    <h5>swift Dzire</h5>
</body>

</html>