<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Rent N Go</title>
    <link rel="stylesheet" href="css/webproject2.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<style>
    .div1 {
        width: 1470px;
        height: 868px;
        background-color: black;
    }

    h4 {
        position: relative;
        width: 443px;
        height: 50px;
        left: 400px;
        top: 650px;
        font-style: italic;
        font-size: 30px;
        color: #FFFFFF;
    }

    label {
        width: 100px;
        display: inline-block;
    }
</style>

<body bgcolor="black">
    <a href="/pageproject"> <button class="buttton button1"><i class="fa-solid fa-circle-arrow-left"></i></button> </a>
    <div class="div1">
        <img src="Images/verna.png"/>
        <h4> HYUNDAI VERNA </h4>
        <div class="main">
            <div class="booking">
                <h2>Booking</h2>
                <form id="booking" method="post">
                    <label>Pick up </label>
                    <input style="font-family: 'Font Awesome 6 Free'; font-weight: 800;" type="text" name="fname"
                        id="name" placeholder=" &#xf3c5"><br><br><br>


                    <label>Return </label>
                    <input style="font-family: 'Font Awesome 6 Free'; font-weight: 800;" type="text" name="fname"
                        id="name" placeholder=" &#xf3c5"><br><br><br>


                    <label>Start </label>
                    <input style="font-family: 'Font Awesome 6 Free'; font-weight: 800;" type="text" name="fname"
                        id="name" placeholder=" &#xf073 "><br><br><br>

                    <label>End </label>
                    <input style="font-family: 'Font Awesome 6 Free'; font-weight: 800;" type="text" name="fname"
                        id="name" placeholder=" &#xf073 "><br><br><br>

                    <label>First Name </label>
                    <input style="font-family: 'Font Awesome 6 Free'; font-weight: 800;" type="text" name="fname"
                        id="name" placeholder=" &#xf007"><br><br><br>

                    <label>Last Name </label>
                    <input style="font-family: 'Font Awesome 6 Free'; font-weight: 800;" type="text" name="fname"
                        id="name" placeholder=" &#xf007"><br><br><br>

                    <label>Email </label>
                    <input style="font-family: 'Font Awesome 6 Free'; font-weight: 800;" type="text" name="fname"
                        id="name" placeholder=" &#xf0e0"><br><br><br>

                    <label>Total </label>
                    <input style="font-family: 'Font Awesome 6 Free'; font-weight: 800;" type="text" name="fname"
                        id="name" placeholder=" &#xe1bc"><br><br><br>

                    <input type="submit" value="BookNow" name="BookNow" id="BookNow">
                </form>

            </div>
        </div>
    </div>

</body>

</html>