 
 <link rel="stylesheet" href="css/style.css">
 <nav id="navbar">
        <div id="logo">
            <img src="Images/logo.png" alt="Error in image">
            
            <h4>Fine</h4>
            <spam>Dine</spam>

            <!-- <spam>Fine Dine</spam> -->
        </div>
      
        

        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/about">About Us</a></li>
            <li class="item"><a href="#">Contact Us</a></li>
            <li class="item"><a href="#">Reviews</a></li>
            
        </ul>
         <div id="acnt">
            <img src="Images/acnt logo.png" alt="Error">
         </div>

        


    </nav>